.layoutContainer {
  background-image: url("../../../assets/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}
.layoutContainer .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  min-height: calc(100vh - 40px) !important;
}
@media screen and (max-width: 786px) {
  .container {
    width: 100%;
  }
  .layoutContainer .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 20px;
    min-height: fit-content !important;
  }
}
.contents {
  margin-left: 20px;
  width: 100%;
}
