.layoutContainer {
  background-image: url("../../../assets/back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: stretch;
  min-height: 100vh;
}
.layoutContainer .sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  min-height: unset !important;
}
@media screen and (max-width: 786px) {
  .container {
    width: 100%;
  }
}
.contents {
  margin-left: 20px;
  width: 100%;
}
