.wallet-manage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 30px;
    background-color: rgba(194, 200, 232, 0.6);
    width: 85%;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 40px 20px;
    box-sizing: border-box;
    transition: all 0.4s ease;
    /*height: 250px;
     */
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.wallet-manage .content {
    display        : flex;
    align-items    : center;
    justify-content: center;
    flex-direction : column;
    height: 100%;
}
.wallet-manage .content *{
    margin: 0;
}
.wallet-manage .content .head{  letter-spacing: 0.67px;
    text-align: left;
    font-size: 8px;
    color: #9a9a9a;
    width: 180px;
    margin-bottom: 5px;}
.wallet-manage .content .balance{  letter-spacing: 2.56px;
    text-align: left;
    color: #000000;
border-bottom: solid 1px #707070;
width: 180px;
margin-bottom: 10px;}
.wallet-manage .content .saving{  letter-spacing: 0.81px;
    text-align: left;
    color: #3a3939;
font-size: 10px;
width: 180px;}

.wallet-manage .actions {
    height: 100%;
    display        : flex;
    align-items    : center;
    justify-content: space-around;
    flex-direction : column;
}

.wallet-manage .actions .send {
    border-radius: 30px;
    width: 100%;
    background-color: #5162bb;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: #fffbfb;
    margin: 10px;
    padding: 12px 45px;
    font-size: 14px;
    border: none;
    font-weight: 600;
    box-sizing: border-box;
}

.wallet-manage .actions .resive {
    width: 100%;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: transparent;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: rgba(0, 0, 0, 0.479);
    margin: 10px;
    padding: 12px 45px;
    font-size: 14px;
    border: none;
    font-weight: 600;
}
@media screen and (max-width: 560px) {
    .wallet-manage {width: 100%;}}
@media screen and (max-width: 428px) {
    .wallet-manage .actions{
        flex: 1;
    }
    .wallet-manage .content{
        flex: 2;
    }
    .wallet-manage .actions .resive ,.wallet-manage .actions .send {
    
        width: 100%;
        padding: 10px 0;
     
    }
  
  }
