.recive-manager {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 30px;
  background-color: rgba(194, 200, 232, 0.6);
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}
.recive-manager>div {
  margin-top: 15px;
}
.recive-manager img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.recive-manager .code {
  border-radius: 16px;
  box-shadow: -3px 3px 10px 0 #645d5d;
  background-color: #d1d6ef;
  box-sizing: border-box;
  padding: 5px 10px;
}
.recive-manager .code p {
  width: 100%;
  text-align: center;
  letter-spacing: 0.67px;
  text-align: right;
  color: #5162bb;
  font-size: 13px;
  font-weight: 600;
}
.copy-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.copy-container svg{ background-color: #5162bb;
border-radius: 30px;}
.copy-container svg path{ fill: #d1d6ef!important;}
.copy-container p{color: #5162bb;
margin-top: 5px;}
